*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:white;
    --secondary-color:#6541F5;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #1A1A2F;
    color: var(--primary-color);
}
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation{
    background-color: #20203C;
    color: var(--primary-color);
    padding: 1rem;
}
.navigation .navBrand{
    font-weight: bold;
    font-size: 1.2rem;
}
.navigation .nav-pills{
    padding-top: 0.5rem;
    text-align: right;
}
.navigation .link{
    color: var(--primary-color);
    text-decoration: none;
}
.navigation .link-active{
    color: var(--secondary-color);
}
.container{
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    text-align: left;
    margin: auto;
    padding: 1rem 2rem;
}
.heading{
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0rem;
}
.description{
    text-align: center;
    font-size: 1.5rem;
}
section{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0rem;
}
label{
    width: 60%;
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
input{
    width: 60%;
    border: 1px solid black;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.0rem;
}
button{
    height: 2.5rem;
    background-color: var(--primary-color);
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 12rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    margin-top: 2rem;
    cursor: pointer;
}
button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
#outputBox{
    padding-top: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-color);
}
.quizForm{
    max-width: 500px;
    margin-bottom: 2rem;
}
.questionContainer {
    margin: 1rem auto;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
.questionContainer p {
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.questionContainer label {
    margin-right: 0.5rem;
    width: 80%;
    padding-top: 0rem;
    font-size: 1.2rem;
}
.questionContainer input {
    width: 5%;
}
.radioBtn{
    vertical-align: middle;
    margin-right: 0.3rem;
}
#submitAnswerBtn{
    display: block;
    margin: auto;
}
#output{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.8rem;
    color: var(--secondary-color);
}
.formula{
    text-align: center;
    font-size: 1.2rem;
    width: 60%;
    padding: 0.2rem;
    margin: auto;
    border: 1px solid var(--secondary-color);
}
.footer-header{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 600;
 }
 a{
    color: var(--primary-color);
    text-decoration: none;
 }
 span{
    color: var(--secondary-color);
 }
 .footer{
    margin-top: 1rem;
    padding: 0rem 0rem 0.1rem 0;
    text-align: center;
 }
 .list-non-bullet{
    list-style: none;
    padding: 0;
 }
 .list-item-inline{
    display: inline;
    padding: 0rem 0.5rem ;
 }